.navbar-lewagon {
  justify-content: space-between;
  background: white;
  background-color: black;
  transition: 0.2s background-color ease-in-out;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.logo {
  width: 40px;
}

.navbar-lewagon-white {
  background-color: white;
}

a.nav-link {
  color: rgb(120, 7, 7);

  &:hover {
  color: rgb(166, 26, 26);
  }
}

.navbar-toggler {
  background-color: white;
}
